Modules/Jobs/Web References/_CreateLetterWithLogService/CreatePostItemService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Baridsoft.ir/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Baridsoft.ir/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Baridsoft.ir/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticketId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogOutResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendPostItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="postItem" type="tns:WebPostItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WebPostItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AttachmentList" type="tns:ArrayOfWebAttachment" />
          <s:element minOccurs="0" maxOccurs="1" name="InvolvedPersonList" type="tns:ArrayOfWebInvolvedPerson" />
          <s:element minOccurs="1" maxOccurs="1" name="ImportanceType" type="tns:WebImportanceType" />
          <s:element minOccurs="1" maxOccurs="1" name="SensitivityType" type="tns:WebSensitivityType" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HasAttachment" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfWebAttachment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WebAttachment" nillable="true" type="tns:WebAttachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WebAttachment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FileExtention" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="FileContent" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfWebInvolvedPerson">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WebInvolvedPerson" nillable="true" type="tns:WebInvolvedPerson" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WebInvolvedPerson">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OrganizationId" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayString" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PersonName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PersonId" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="OrganizationUnitName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PositionName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="InvolvedParticipantId" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="InvolvedType" type="tns:WebInvolvedType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="WebInvolvedType">
        <s:restriction base="s:string">
          <s:enumeration value="MainReceiver" />
          <s:enumeration value="CopyReceiver" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="WebImportanceType">
        <s:restriction base="s:string">
          <s:enumeration value="Normal" />
          <s:enumeration value="Immediate" />
          <s:enumeration value="TopImmediate" />
          <s:enumeration value="Instantaneous" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="WebSensitivityType">
        <s:restriction base="s:string">
          <s:enumeration value="Normal" />
          <s:enumeration value="Confidetial" />
          <s:enumeration value="TopConfidetial" />
          <s:enumeration value="Secret" />
          <s:enumeration value="TopSecret" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SendPostItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendPostItemResult" type="tns:WebSendPostItemType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="WebSendPostItemType">
        <s:restriction base="s:string">
          <s:enumeration value="SendSuccessful" />
          <s:enumeration value="SendFaild" />
          <s:enumeration value="LoginFaild" />
        </s:restriction>
      </s:simpleType>
      <s:element name="FindPersonalNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="personalNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindPersonalNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindPersonalNoResult" type="tns:WebParticipant" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WebParticipant">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayString" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrganizationUnit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PersonName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Position" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PersonId" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="FindNationalCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nationalCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindNationalCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindNationalCodeResult" type="tns:WebParticipant" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindPerson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="personName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindPersonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindPersonResult" type="tns:ArrayOfWebParticipant" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfWebParticipant">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WebParticipant" nillable="true" type="tns:WebParticipant" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddinvolvedPerson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="involvedPerson" type="tns:WebInvolvedPerson" />
            <s:element minOccurs="0" maxOccurs="1" name="involvedList" type="tns:ArrayOfWebInvolvedPerson" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddinvolvedPersonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddinvolvedPersonResult" type="tns:ArrayOfWebInvolvedPerson" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAttachment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="attachment" type="tns:WebAttachment" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAttachmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddAttachmentResult" type="tns:WebAttachment" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LogOutSoapIn">
    <wsdl:part name="parameters" element="tns:LogOut" />
  </wsdl:message>
  <wsdl:message name="LogOutSoapOut">
    <wsdl:part name="parameters" element="tns:LogOutResponse" />
  </wsdl:message>
  <wsdl:message name="SendPostItemSoapIn">
    <wsdl:part name="parameters" element="tns:SendPostItem" />
  </wsdl:message>
  <wsdl:message name="SendPostItemSoapOut">
    <wsdl:part name="parameters" element="tns:SendPostItemResponse" />
  </wsdl:message>
  <wsdl:message name="FindPersonalNoSoapIn">
    <wsdl:part name="parameters" element="tns:FindPersonalNo" />
  </wsdl:message>
  <wsdl:message name="FindPersonalNoSoapOut">
    <wsdl:part name="parameters" element="tns:FindPersonalNoResponse" />
  </wsdl:message>
  <wsdl:message name="FindNationalCodeSoapIn">
    <wsdl:part name="parameters" element="tns:FindNationalCode" />
  </wsdl:message>
  <wsdl:message name="FindNationalCodeSoapOut">
    <wsdl:part name="parameters" element="tns:FindNationalCodeResponse" />
  </wsdl:message>
  <wsdl:message name="FindPersonSoapIn">
    <wsdl:part name="parameters" element="tns:FindPerson" />
  </wsdl:message>
  <wsdl:message name="FindPersonSoapOut">
    <wsdl:part name="parameters" element="tns:FindPersonResponse" />
  </wsdl:message>
  <wsdl:message name="AddinvolvedPersonSoapIn">
    <wsdl:part name="parameters" element="tns:AddinvolvedPerson" />
  </wsdl:message>
  <wsdl:message name="AddinvolvedPersonSoapOut">
    <wsdl:part name="parameters" element="tns:AddinvolvedPersonResponse" />
  </wsdl:message>
  <wsdl:message name="AddAttachmentSoapIn">
    <wsdl:part name="parameters" element="tns:AddAttachment" />
  </wsdl:message>
  <wsdl:message name="AddAttachmentSoapOut">
    <wsdl:part name="parameters" element="tns:AddAttachmentResponse" />
  </wsdl:message>
  <wsdl:portType name="CreatePostItemServiceSoap">
    <wsdl:operation name="Login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">انجام عمل شناسائی و صادر نمودن مجوز ورود به سیستم</wsdl:documentation>
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">خارج شدن از سیستم</wsdl:documentation>
      <wsdl:input message="tns:LogOutSoapIn" />
      <wsdl:output message="tns:LogOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendPostItem">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ارسال پیام</wsdl:documentation>
      <wsdl:input message="tns:SendPostItemSoapIn" />
      <wsdl:output message="tns:SendPostItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindPersonalNo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">جستجوی اشخاص بر اساس کد پرسنلی</wsdl:documentation>
      <wsdl:input message="tns:FindPersonalNoSoapIn" />
      <wsdl:output message="tns:FindPersonalNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindNationalCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">جستجوی اشخاص از طریق کد ملی</wsdl:documentation>
      <wsdl:input message="tns:FindNationalCodeSoapIn" />
      <wsdl:output message="tns:FindNationalCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindPerson">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">جستجوی اشخاص از طریق نام کامل</wsdl:documentation>
      <wsdl:input message="tns:FindPersonSoapIn" />
      <wsdl:output message="tns:FindPersonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddinvolvedPerson">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">توابع غير كاربري</wsdl:documentation>
      <wsdl:input message="tns:AddinvolvedPersonSoapIn" />
      <wsdl:output message="tns:AddinvolvedPersonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAttachment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">توابع غير كاربري</wsdl:documentation>
      <wsdl:input message="tns:AddAttachmentSoapIn" />
      <wsdl:output message="tns:AddAttachmentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreatePostItemServiceSoap" type="tns:CreatePostItemServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://Baridsoft.ir/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap:operation soapAction="http://Baridsoft.ir/LogOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPostItem">
      <soap:operation soapAction="http://Baridsoft.ir/SendPostItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindPersonalNo">
      <soap:operation soapAction="http://Baridsoft.ir/FindPersonalNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindNationalCode">
      <soap:operation soapAction="http://Baridsoft.ir/FindNationalCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindPerson">
      <soap:operation soapAction="http://Baridsoft.ir/FindPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddinvolvedPerson">
      <soap:operation soapAction="http://Baridsoft.ir/AddinvolvedPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAttachment">
      <soap:operation soapAction="http://Baridsoft.ir/AddAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CreatePostItemServiceSoap12" type="tns:CreatePostItemServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://Baridsoft.ir/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap12:operation soapAction="http://Baridsoft.ir/LogOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPostItem">
      <soap12:operation soapAction="http://Baridsoft.ir/SendPostItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindPersonalNo">
      <soap12:operation soapAction="http://Baridsoft.ir/FindPersonalNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindNationalCode">
      <soap12:operation soapAction="http://Baridsoft.ir/FindNationalCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindPerson">
      <soap12:operation soapAction="http://Baridsoft.ir/FindPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddinvolvedPerson">
      <soap12:operation soapAction="http://Baridsoft.ir/AddinvolvedPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAttachment">
      <soap12:operation soapAction="http://Baridsoft.ir/AddAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreatePostItemService">
    <wsdl:port name="CreatePostItemServiceSoap" binding="tns:CreatePostItemServiceSoap">
      <soap:address location="http://10.110.11.12/SendPostItem/CreatePostItemService.asmx" />
    </wsdl:port>
    <wsdl:port name="CreatePostItemServiceSoap12" binding="tns:CreatePostItemServiceSoap12">
      <soap12:address location="http://10.110.11.12/SendPostItem/CreatePostItemService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>