Modules/RaaiVanIntermediate/Service References/RaaiVanKnowledge/Knowledge1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetRelatedKnowledges">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nodeId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nodeTypeId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRelatedKnowledgesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRelatedKnowledgesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchKnowledges">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="viewerusername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="creatorusername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="relatedNodes">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="lowerCreationDateLimit" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="upperCreationDateLimit" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="lowerPublicationDateLimit" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="upperPublicationDateLimit" nillable="true" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchKnowledgesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchKnowledgesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetKnowledgesCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="viewerusername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="creatorusername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="relatedNodes">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="lowerCreationDateLimit" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="upperCreationDateLimit" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="lowerPublicationDateLimit" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="upperPublicationDateLimit" nillable="true" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetKnowledgesCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetKnowledgesCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRelatedKnowledgesSoapIn">
    <wsdl:part name="parameters" element="tns:GetRelatedKnowledges" />
  </wsdl:message>
  <wsdl:message name="GetRelatedKnowledgesSoapOut">
    <wsdl:part name="parameters" element="tns:GetRelatedKnowledgesResponse" />
  </wsdl:message>
  <wsdl:message name="SearchKnowledgesSoapIn">
    <wsdl:part name="parameters" element="tns:SearchKnowledges" />
  </wsdl:message>
  <wsdl:message name="SearchKnowledgesSoapOut">
    <wsdl:part name="parameters" element="tns:SearchKnowledgesResponse" />
  </wsdl:message>
  <wsdl:message name="GetKnowledgesCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetKnowledgesCount" />
  </wsdl:message>
  <wsdl:message name="GetKnowledgesCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetKnowledgesCountResponse" />
  </wsdl:message>
  <wsdl:portType name="KnowledgeSoap">
    <wsdl:operation name="GetRelatedKnowledges">
      <wsdl:input message="tns:GetRelatedKnowledgesSoapIn" />
      <wsdl:output message="tns:GetRelatedKnowledgesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchKnowledges">
      <wsdl:input message="tns:SearchKnowledgesSoapIn" />
      <wsdl:output message="tns:SearchKnowledgesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetKnowledgesCount">
      <wsdl:input message="tns:GetKnowledgesCountSoapIn" />
      <wsdl:output message="tns:GetKnowledgesCountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KnowledgeSoap" type="tns:KnowledgeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRelatedKnowledges">
      <soap:operation soapAction="http://tempuri.org/GetRelatedKnowledges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchKnowledges">
      <soap:operation soapAction="http://tempuri.org/SearchKnowledges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKnowledgesCount">
      <soap:operation soapAction="http://tempuri.org/GetKnowledgesCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="KnowledgeSoap12" type="tns:KnowledgeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRelatedKnowledges">
      <soap12:operation soapAction="http://tempuri.org/GetRelatedKnowledges" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchKnowledges">
      <soap12:operation soapAction="http://tempuri.org/SearchKnowledges" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKnowledgesCount">
      <soap12:operation soapAction="http://tempuri.org/GetKnowledgesCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Knowledge">
    <wsdl:port name="KnowledgeSoap" binding="tns:KnowledgeSoap">
      <soap:address location="http://127.0.0.1:1234/Services/Knowledge.asmx" />
    </wsdl:port>
    <wsdl:port name="KnowledgeSoap12" binding="tns:KnowledgeSoap12">
      <soap12:address location="http://127.0.0.1:1234/Services/Knowledge.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>